{%extends "base.html"%}

{% block Judul %}
    {{Judul}}
{% endblock Judul %}

{% block SubJudul %}
    {{SubJudul}}
{% endblock SubJudul %}

{% block contents %}
    <!-- {{Content}} -->
    <table border="5" class="table" align="center">
        <thead>
            <tr>
                <th>No</th>
                <th>Name Image</th>
                <th>Label</th>
                <th width="30%">Gambar</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {%for data in tb_dataTesting%}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{data.image}}</td>
                    <td>{{data.label}}</td>
                    <td><img height="50" src="{{data.directory}}" alt="img"></td>
                    <td><a href="{% url 'delete_dataTesting' id=data.id %}"><button class="btn btn-danger">Delete</button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/testing/upload"><button class="btn btn-info">Tambah Data</button></a>
    
{% endblock contents %}